#surkls-list {
	height: calc(100vh - 55px);
	display: flex;
	align-content: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 55px;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom:60px;
	.surkl {
		width: calc(50% - 10px);
		min-height: 410px;
		margin-top:10px;
		overflow: hidden;
		border-radius: 5px;
		background: #F4FBFB;
		.surkls-surkl-banner {
			width:100%;
			height:50%;
			background: #EFC141;
			display:flex;
			align-items: flex-end;
			justify-content: center;
			.surkls-surkl-logo {
				height:100px;
				width:100px;
				border-radius: 100px;
				background: black;
				margin-bottom:-50px;
			}
		}
		.surkls-surkl-info {
			min-height: 65px;
			margin-top: 55px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.surkls-surkl-name{
				font-size: 40px;
				font-family: 'Josefin Sans'
			}
			.surkls-surkl-motto{
				font-size: 20px;
				font-family: 'Josefin Sans'
			}
		}
		.surkls-surkl-top-users {
			display:flex;
			height:45px;
			width:100%;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			//padding-left:5px;
			.surkls-surkl-member {
				width:30px;
				height:30px;
				border-radius:30px;
				margin-left: 5px;
				//border: 1px solid #242323;
			}
		}
		.surkls-surkl-actionbtns {
			height:30px;
			align-items: center;
			display: flex;
			width:100%;
			justify-content: flex-end;
			padding-right: 10px;
			box-sizing: border-box;
			.surkls-surkl-actionbtn {
				font-size: 15px;
				font-family: 'Comfortaa';
				border: 2px solid black;
				padding:3px;
				padding-top:5px;
				padding-left: 7px;
				padding-right: 7px;
				border-radius: 5px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				position: relative;
			}
			.surkls-surkl-btn {
				font-size: 15px;
				font-family: 'Comfortaa';
				border: 2px solid black;
				padding:3px;
				padding-top:5px;
				padding-left: 7px;
				padding-right: 7px;
				border-radius: 5px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				position: relative;
			}
			.surkls-surkl-actionbtn:hover {
				background: #EFC141;
			}
		}
	}
}
#goog-ani {
	border-radius: 100%;
	width:5px;
	height:5px;
	background: black;
	position: absolute;
	opacity: 0;
}
.request-animation {
	animation: request .5s ease-in-out forwards;
}
@keyframes request {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(20);
		opacity: 0;
	}
}