#surkl {
  width:100%;
  height: calc(100vh - 55px);
  display:flex;
  background: #242323;
  margin-top: 55px;
  border-top: 1px solid #3E3E3E;
  border-bottom: 1px solid #3E3E3E;
  box-sizing: border-box; 
  overflow-x: hidden;
  #newsSources {
    width:255px;
    height:100%;
    border-right: 1px solid #3E3E3E;    
    #newsSourcesHeader {
      color:#F4FBFB;
      height:50px;
      width:100%;
      font-family: 'Comfortaa';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      border-bottom: 1px solid #3E3E3E;
      box-sizing: border-box;
    }
    #newsSourcesFeed::-webkit-scrollbar {
      width:5px;
      //background:rgba(40,40,40, .2);
    }
    #newsSourcesFeed::-webkit-scrollbar-thumb {
      background: #B1B6B6; 
      border-radius: 10px;
    }
    #newsSourcesFeed::-webkit-scrollbar-corner {
      background: transparent;
    }
    #newsSourcesFeed {
      overflow-y: scroll;
      height:calc(100% - 50px);
      width:100%;
    }
    .newsSource:hover {
      background-color: rgba(222,178,59,.5)
    }
    .newsSource {
      height:50px;
      width:100%;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      padding-left: 10px;
      color:#F4FBFB;
      box-sizing: border-box;
      cursor: pointer;
      .newsSourceImg {
        height:40px;
        margin-right:10px;
      }

    }
  }
  #surkl-feed::-webkit-scrollbar {
    width:5px;
    background:#242323
  }
  #surkl-feed::-webkit-scrollbar-thumb {
    background: #545353; 
    border-radius: 10px;
    margin-right:1px;
  }
  #surkl-feed::-webkit-scrollbar-corner {
    background: transparent;
  }
  #surkl-center {
    width:calc(100% - 510px);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* #surkl-feed>div:last-child {
      padding-bottom: 10px;
    } */
    #surkl-feed {
      height:calc(100% - 53px);
      width:100%;
      box-sizing: border-box;
      padding-top: 10px;
      
      overflow: scroll;
      overflow-x: hidden;  
      .surkl-chat-msg-wrap:hover {
        background: #272626;
      }
      .surkl-chat-msg-wrap {
        width:100%;
        padding-top: 2px;
        padding-bottom: 2px;  
        .surkl-chat-msg {
          margin-right:5px;
          padding-top: 5px;
          padding-bottom: 5px;
          box-sizing: border-box;
          animation: fadeOut 2s ease-out forwards;
          width: calc(100% - 20px);
          font-family: 'Comfortaa';
          display: flex;
          box-sizing: border-box;
          margin-top: 2px;
          .surkl-chat-msg-av-wrap{
              width: 50px;
              display:flex;
              padding:10px;
              padding-top:0px;
              justify-content: center;
            .surkl-chat-msgAvatar {
              width: 30px;
              height: 30px;
              margin-left: 18px;
              border-radius: 30px;
              border: 1px solid #c2c3c4;
            }
          }
          
          .surkl-chat-HeaderNmsg {
            width: calc(100% - 70px);
            margin-left: 5px;
            .surkl-chat-MsgUserInfo {
              margin-top: 3px;
              width: 100%;
              height: 16px;
              display: flex;            
              box-sizing: border-box;
              display: flex;
              width: 100%;
              align-items: flex-end;
              justify-content: flex-start;
              .surkl-chat-MsgDate {
                
                font-size: 10px;
                margin-bottom: 2px !important;
                margin-left: 5px;
                color:#91918D;
              }
              .surkl-chat-MsgName {
              
                font-size: 15px;
                color:#91918D;
              }
            }
  
            .surkl-chat-MsgText {
              overflow-wrap: break-word;
              word-break: break-word;
              font-size: 16px;
              color: #E6E9E9;
              padding-bottom: 0px !important;
              padding-left: 5px !important;
              width:100%;
              font-family: SourceSansLocal,source-sans-pro,Source Sans Pro,-apple-system,Roboto,pt sans,calibri,sans-serif;
              box-sizing: border-box;
            }
          }
        }
      }
    }
    #file-upload-progress {
      height:3px;
      background-color:#FFCD44;
      bottom:0px;
      width:0%;
      align-self: flex-start;
    }
    #surkl-chat-controls {
      display:flex;
      width:100%;
      position: relative;
      #surkl-chat-input::placeholder {
        font-size: 15px;
      }
      #surkl-chat-input {
        width:calc(100% - 70px);
        height:70px;
        outline:none;
        resize: none;
        background: transparent;
        border:none;
        border-top: 1px solid #3E3E3E;
        padding:10px;
        box-sizing: border-box;
        font-family: 'Comfortaa';
        color:#C2C3C4;
        font-size: 13px;
        overflow-y: scroll; 
        /* position: absolute;
        top:0px;
        left:0px; */
      }
      #surkl-chat-input-display {
        width:calc(100% - 70px);
        height:70px;
        outline:none;
        resize: none;
        background: transparent;
        border:none;
        border-top: 1px solid #3E3E3E;
        padding:10px;
        box-sizing: border-box;
        font-family: 'Comfortaa';
        color:#C2C3C4;
        font-size: 13px;
      }
      #surkl-chat-btns {
        display: flex;
        width:70px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        border-top: 1px solid #3E3E3E;
        border-left: 1px solid #3E3E3E;
        .surkl-chat-btn {
          background-position: center;
          background-size: 20px;
          background-repeat: no-repeat;  
          width:25px;
          height:25px;
          cursor: pointer;
        }     
        #surkl-emojis {
          background-image: url('/assets/UI-icons/grin-tongue-regular.svg');
          position: relative;
          #emoji-lib::-webkit-scrollbar {
            width:5px;
          }
          #emoji-lib::-webkit-scrollbar-thumb {
            background: #545353; 
            border-radius: 10px;
            margin-right:1px;
          }
          #emoji-lib::-webkit-scrollbar-corner {
            background: transparent;
          }
          #emoji-lib {
            position:absolute;
            padding:5px;
            padding-right: 10px;
            top:-220px;
            left:-280px;
            justify-content: space-around;
            display:flex;
            flex-wrap: wrap;
            align-content: flex-start;
            width: 300px;
            height: 200px;
            border-radius:5px;
            background: #313131;
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,.5);
            overflow-y: scroll;
            display: none;
            .emoji:hover {
              background-size: 30px !important; 
            }
          }
        }
        #surkl-file-up {
          display:none;
        }
        #file-up-icon {
          background-image:url('/assets/UI-icons/image-regular.svg'); 
        }
      }
    }
    
  }
  #surkl-members {
    width: 255px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #3E3E3E;
    #surkl-members-header {
      color:#F4FBFB;
      height:65px;
      width:100%;
      font-family: 'Comfortaa';
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      border-bottom: 1px solid #3E3E3E;
      box-sizing: border-box;
      padding-top: 10px;
      #member-tab-btns{
        color:#F4FBFB;
        cursor: pointer;
        user-select: none;
        display: flex;
        width:100%;
        font-size:12px;
        height:20px;
        font-family: 'Comfortaa';
        justify-content: space-around;       
        .members-tab-btn {
          background-color: #3E3E3E;
          width:50%;
          display:flex;
          justify-content: center;
          align-items: center;
        }
        .surkl-on-tab {
          background: #FFCD44;
          color:black;
          border-right:1px solid black;
        }
      }
    }
    #my-surkl-members::-webkit-scrollbar {
      width:0px;
      //background:rgba(40,40,40, .2);
    }
    #my-surkl-members::-webkit-scrollbar-thumb {
      background: #B1B6B6; 
      border-radius: 10px;
    }
    #my-surkl-members::-webkit-scrollbar-corner {
      background: transparent;
    }
    #my-surkl-members{
      overflow-y: scroll;
      height: calc(100% - 165px);
      width:100%; 
      .surkl-member:hover {
        background: #373636;
      }
      .surkl-member {
        font-family: 'Comfortaa';
        font-size: 13px;
        color:#F4FBFB;
        height: 50px;
        width:100%;
        padding-left: 5px;
        cursor: pointer;
        display:flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        .surkl-member-avatar {
          width:25px;
          height:25px;
          border-radius:25px;
          border:1px solid #F4FBFB;
        }
        .surkl-member-name {
          padding-left: 10px;
          background-position: center;
          background-size: cover;
          width: calc(100% - 55px);
        }
      }
    }
    #my-surkl-on-members::-webkit-scrollbar {
      width:0px;
      //background:rgba(40,40,40, .2);
    }
    #my-surkl-on-members::-webkit-scrollbar-thumb {
      background: #B1B6B6; 
      border-radius: 10px;
    }
    #my-surkl-on-members::-webkit-scrollbar-corner {
      background: transparent;
    }
    #my-surkl-on-members{
      overflow-y: scroll;
      height: calc(100% - 165px);
      width:100%; 
      .surkl-on-member:hover {
        background: #373636;
      }
      .surkl-on-member {

        font-family: 'Comfortaa';
        font-size: 13px;
        color:#F4FBFB;
        height: 50px;
        width:100%;
        padding-left: 4px;
        cursor: pointer;
        display:flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        .surkl-name-n-avatar {
          display:flex;
          align-items: center;
          width:calc(100% - 30px);
          margin-left: 10px;
          .surkl-on-member-avatar {
            width:25px;
            height:25px;
            border-radius:25px;
            border:1px solid #F4FBFB;
          }
          .surkl-on-member-name {
            padding-left: 10px;
            background-position: center;
            background-size: cover;
            width: calc(100% - 55px);
          }
        }
       .surkl-member-on-dot {
         height:8px;
         width:8px;
         border-radius: 10px;
         background-color: #34d449;
         margin-right: 20px;
       }
      }
    }
    #audio-player {
      height:100px;
      margin-top: 2px;
      //border-top: 1px solid #3E3E3E;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-family: 'Josefin sans';
      font-size: 12px;
      color: #F4FBFB;
      align-items: center;
      padding:3px;   
      position: relative;
      #player-navs {
        width:100%;
        display: flex;
        box-sizing: border-box;
        padding:5px;
        align-items:center;
        margin-bottom: 5px;
        .track-time {
          margin-left:10px;
          width:35px;
          display:flex;
          justify-content: center;
        }
        #audio-time-range[type=range] {
          -webkit-appearance: none;
          outline: none;
        }
        #audio-time-range[type=range]::-webkit-slider-runnable-track{
          -webkit-appearance: none;
          background: #FFCD44;
          height:5px;
          outline: none;
        }
        #audio-time-range[type=range]::-webkit-slider-thumb {
          outline: none;
          -webkit-appearance: none;
          border: 2px solid #FFCD44;
          border-radius: 50%;
          height: 13px;
          width: 13px;
          max-width: 80px;
          position: relative;
          bottom: 4px;
          background-color: #242323 !important;
          cursor: -webkit-grab;
        }
        #audio-time-range {
          margin-left: 10px;
          outline: none;
          width: calc(100% - 110px);
          
        }
        #volume-icon:hover  {
          display:block;
        }
        #volume-icon:hover > #rotator {
          display:block;
        }
        #volume-icon {
          width:20px;
          height:20px;
          background-image: url('/assets/UI-icons/volume-solid.svg');
          background-position: center;
          background-size: 16px;
          background-repeat: no-repeat;
          margin-left: 5px;
          position: relative;
          overflow: visible;
          
          #rotator {
            transform: rotate(-90deg);
            margin-top:  -55px;
            margin-left: -38px;
            padding:4px;
            border-radius:10px;
            width:85px;
            display: none;
            background: #242323;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
            #audio-volume-range {
              width:80px;
            }
            #audio-volume-range[type=range] {
              -webkit-appearance: none;
            
              outline: none;
            }
            #audio-volume-range[type=range]::-webkit-slider-runnable-track{
              -webkit-appearance: none;
              background: #FFCD44;
              height:5px;
              outline: none;
            }
            #audio-volume-range[type=range]::-webkit-slider-thumb {
              outline: none;
              -webkit-appearance: none;
              border: 2px solid #FFCD44;
              border-radius: 50%;
              height: 15px;
              width: 15px;
              max-width: 80px;
              position: relative;
              bottom: 5px;
              background-color: #242323 !important;
              cursor: -webkit-grab;
            }
          }
         
        
        }
        .audio-btn {
          background-position: center;
          background-size: 25px;
          background-repeat: no-repeat;
          height:25px;
          width:25px;
          cursor: pointer;
        }
        
        #play-button {
          background-image: url('/assets/UI-icons/play-circle-regular.svg'); 
        }
        #pause-button {      
          background-image: url('/assets/UI-icons/pause-circle-regular.svg'); 
        }
      }
      
      #restof-player {
        width: 100%;
        display: flex;
        #track-info {
          width: calc(100% - 30px);     
          .track-info-item {
            margin:5px;
          }      
        }
        #track-info>div:last-child{
          margin-top: 10px;
        }
        #audio-player-linker {
          width:25px;
          height:25px;
          background-image: url('/assets/UI-icons/ellipsis-v-solid.svg');
          background-size: 6px;
          background-position: center;
          background-repeat: no-repeat; 
          cursor: pointer;
          position: relative;
          
        }
        #linker-modal {
          position: absolute;
          padding:5px;
          box-sizing: border-box;
          background: #3E3E3E;
          border-radius:3px;
          width:97%;
          #link-guide {
            width:100%; 
            border-radius:3px;      
          }
          #input-n-btn {
            width:100%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-top:5px;
            #audio-link-id {
              width:calc(100% - 60px);
              border-radius:3px;       
              outline:none;
              border:none;
              height:18px;
              padding-left: 8px;
            }
            #linker-cancel-btn {
              background-position: center;
              background-size: 16px;
              background-repeat: no-repeat;
              height:20px;
              width:20px;
              cursor: pointer;
              background-image: url('/assets/UI-icons/times-solid-yellow.svg'); 
            }
            #linker-play-btn {
              background-position: center;
              background-size: 20px;
              background-repeat: no-repeat;
              height:20px;
              width:20px;
              cursor: pointer;
              background-image: url('/assets/UI-icons/play-circle-regular.svg'); 
            }
          }
         
        }
      }
    
   
    }
  }
}
#notLoggedIn {
  height: calc(100vh - 55px);
  width:100%;
  display:flex;
  color: #FFCD44;
  font-family: 'Josefin Sans';
  font-size: 20px;
  justify-content: center;
  align-items:center;
}