#already-created{
  height: calc(100vh - 55px);
  margin-top: 55px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin sans';
  color:#F6C641;
  font-size: 30px;
}
#create-surkl {
  height: calc(100vh - 55px);
  margin-top: 55px;
  display:flex;
  justify-content: center;
  align-items: center;
  .name-your-surkl{
    width:80%;
    display: flex;
    height:350px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .name-your-surkl-input{
      width:0%;
      height:120px;
      margin-top: 70px;
      font-family: 'Josefin sans';
      font-size: 90px;
      background: transparent;
      border: none;
      outline:none;
      color:#DFE5E5;
      text-align: center;
      border-bottom: 3px solid #F6C641;
      animation: width .7s ease-out forwards;
      font-weight: 700;
    }
    .name-your-surkl-input::placeholder {
      color:#F6C641;
      font-weight: 700;
      text-align: center;
      opacity: .3;
    }
  }
 .create-surkl-categories-wrap {
    width:90%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height:350px;
    .create-surkl-categories {
      display:flex;
      margin-top: 30px;
      justify-content: center;
      align-content: flex-start;
      flex-wrap:wrap;
    }
    .create-surkl-category:hover{
      color:#F6C641 !important;
      background: black !important;
    }
    .create-surkl-category:active{
      color:white !important;
      background: black !important;
    }
    .create-surkl-category{
      padding:10px;
      padding-top: 15px;
      font-family: 'Josefin sans';
      font-size: 40px;
      background: #F6C641;
      border-radius:20px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transform: scale(0);
    
    }
 }
 .create-surkl-motto{
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:350px;
  justify-content: space-between;
  .pick-motto-input{
    width:0%;
    height:120px;
    margin-top: 70px;
    font-family: 'Josefin sans';
    font-size: 90px;
    background: transparent;
    border: none;
    outline:none;
    color:#DFE5E5;
    text-align: center;
    border-bottom: 3px solid #F6C641;
    animation: width .7s ease-out forwards;
    font-weight: 700;
  }
  .pick-motto-input::placeholder {
    color:#F6C641;
    font-weight: 700;
    text-align: center;
    opacity: .3;
  }
}
}





.create-surkl-arrows {
  width:40%;
  display:flex;
  justify-content: center;
  margin-top: 10px;
  .create-surkl-arrow:hover{
    transform: scale(1.1)
  }
  .create-surkl-arrow:active{
    transform: scale(1)
  }
  .create-surkl-arrow{
    cursor: pointer;
    width:0px;
    height:85px;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    animation: width2 .7s ease-out forwards;
  }
  .create-surkl-left-arrow {
    background-image: url('/assets/UI-icons/caret-left-solid.svg');
    
  }
  .create-surkl-right-arrow {
    background-image: url('/assets/UI-icons/caret-right-solid.svg');

  }
}
.errorColor::-webkit-input-placeholder {
  color: #d84224;
}
.opacity::placeholder{
  opacity: .5 !important;
}

@keyframes scaleUp {
  100% {
    transform: scale(1);
  }
}
@keyframes width {
  100% {
    width:100%;
  }
}
@keyframes width2 {
  100% {
    width:140px;
  }
}

