.header {
	height: 55px;
	width: 100%;
	background-color: #282828;
	display: flex;
	position: fixed;
	top:0px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #1C1C1C;
	box-sizing: border-box; 
	.customPulloutHeader {
		display: flex;
		width:100%;
		height:50px;
		border-bottom: 1px solid #303030;
		align-items: center;	
		#menuBarsIcon2 {
			cursor: pointer;
			margin-left: 15px;
			width:30px;
			height:30px;
			background-image: url('/assets/UI-icons/menu_icon.1.svg');
			background-position: center;
			background-size: 25px;
			background-repeat: no-repeat;  
		}
		#surklsTitle {
			max-width: 70px;
			margin-left: 50px;
		}
	}
	#leftOfHeader {
		display: flex;
		align-items: center;
		#menuBarsIcon {
			cursor: pointer;
			margin-left: 15px;
			width:30px;
			height:30px;
			background-image: url('/assets/UI-icons/menu_icon.svg');
			background-position: center;
			background-size: 25px;
			background-repeat: no-repeat;   
		}
		.logo {
			width: 80px;
			height: 29px;
			margin-top: -3px;
		}
		.in-dev {
			margin-left: 20px;
			font-size: 15px;
			padding:5px;
			padding-top:7px;
			font-family: "Josefin Sans";
			background: #EFC141;
			border-radius: 3px;
		}
	}
	#rightOfHeader {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		#threeDotsMenu {
			cursor: pointer;
			width: 30px;
			height: 30px;
			background-image: url('/assets/UI-icons/ellipsis-v-solid.svg');
			background-position: center;
			background-size: 7px;
			background-repeat: no-repeat;
			margin-right: 20px;
		}
		#signInText {
			font-family: 'Comfortaa';
			font-size: 17px;
			font-weight: 700;
			color:#FCCB43;
			margin-right: 20px;
			cursor: pointer;
		}
		
		#startSessionIcon {
			cursor: pointer;
			width: 30px;
			height: 30px;
			background-image: url('/assets/UI-icons/start_surkl.svg');
			background-position: center;
			background-size: 25px;
			background-repeat: no-repeat;
			margin-right: 20px;
		}
		#online-number {
			margin-right:30px;
			font-family: 'Comfortaa';
			color: #EFC141;
			align-self: flex-end;
			margin-bottom:5px;
		}
		#jump-into-surf-btn {
			cursor: pointer;
			width: 30px;
			height: 30px;
			background-image: url('/assets/UI-icons/8ball-yellow.svg');
			background-position: center;
			background-size: 23px;
			background-repeat: no-repeat;
			margin-right: 20px;
			border-radius:40px;
			left: -50px;
			position: absolute;
		}
		#surf-next-btn {
			display:flex;
			font-family: 'Comfortaa';
			color: #EFC141;
			margin-top: 3px;
			display:none;
			margin-right: 5px;			
			.surf-option {
				border-bottom: 2px solid #282828;
				box-sizing: border-box;
				font-size: 18px;
				margin-right:20px;
				cursor: pointer;
			}
			.surf-option:hover {
				color: #F4FBFB;
				border-bottom: 2px solid #EFC141;
				
			}
		}
		#surf-options {
			display:flex;
			font-family: 'Comfortaa';
			color: #EFC141;
			margin-top: 3px;
			display:none;
			margin-right: 5px;			
			.surf-option {
				border-bottom: 2px solid #282828;
				box-sizing: border-box;
				font-size: 18px;
				margin-right:20px;
				cursor: pointer;
			}
			.surf-option:hover {
				color: #F4FBFB;
				border-bottom: 2px solid #EFC141;
				
			}
		}
		#messageIcon {
			cursor: pointer;
			width: 30px;
			height: 30px;
			background-image: url('/assets/UI-icons/comment-regular.svg');
			background-position: center;
			background-size: 23px;
			background-repeat: no-repeat;
			margin-right: 20px;
			position: relative;
			.red-alert-dot {
				width:16px;
				height:16px;
				background:red;
				position: absolute;
				border-radius:16px;
				color:white;
				font-family: Arial, Helvetica, sans-serif;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 11px;
				right:0px;
			}
		}
		#notifIcon {
			cursor: pointer;
			width: 30px;
			height: 30px;
			background-image: url('/assets/UI-icons/bell-regular.svg');
			background-position: center;
			background-size: 20px;
			background-repeat: no-repeat;
			margin-right: 20px;
			position: relative;
			.red-alert-dot {
				width:16px;
				height:16px;
				background:red;
				position: absolute;
				border-radius:16px;
				color:white;
				font-family: Arial, Helvetica, sans-serif;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 12px;
				right:0px;
			}
		}
		#avatar {
			cursor: pointer;
			width: 40px;
			height: 40px;
			margin-right: 15px;
			border-radius: 40px;
			border: 1px solid #dde4e4;
			position: relative;
		}

		.customMenuHeader {
			display: flex;
			background-color: #cbd2d2;
			color: black;
			font-size: 17px;
			padding: 7px;
			padding-top: 9px;
			width:100%;
			box-sizing: border-box;
			border-radius: 3px;
			#userNameNEmail {
				font-family: 'Didact Gothic';
				color: black;
				margin-right: 10px;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
///////////////////////////////////////////////////////////////////////////////
/*acc menu*/
.rightAccIcon {
	width: 22px;
	height: 22px;
	background-position: center;
	background-size: 21px;
	background-repeat: no-repeat;
	margin-right: 21px;
}

#surklsIcon {
	background-image: url('/assets/UI-icons/surkls_icon.svg');
	background-size: 24px;	
}

#mySurklIcon {
	background-image: url('/assets/UI-icons/circle-notch-solid.svg');	
}
#settingsIcon {
	background-image: url('/assets/UI-icons/cogs-solid.svg');
}
#helpIcon {
	background-image: url('/assets/UI-icons/question-circle-regular.svg');	
}
#logoutIcon {
	background-image: url('/assets/UI-icons/sign-out-alt-solid.svg');
}
/*acc menu*/
///////////////////////////////////////////////////////////////////////////////
/*session menu*/
#createSessBtn:hover {
	background-color: #FCCB43;
	color: #282828;
}
#session-types {
	height: 35px;
	width: 92%;
	background: white;
	margin-top:10px;
	display:flex;
	border-radius:5px;
	overflow:hidden;
	.session-type {
		width:50%;
		height:100%;
		font-weight: 700;
		font-family: 'Comfortaa';
		
		font-size:15px;
		display:flex;
		justify-content: center;
		align-items: center;
	}
}
#createSessBtn {
	color: #FCCB43;
  outline:none;
  cursor: pointer;
  border:none;
  display: flex;
	justify-content: center;
	width:90%;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 15px;
	background-color: #282828;
}

/*session menu*/
///////////////////////////////////////////////////////////////////////////////
/*sign in menu */

#signInForm {
	box-sizing: border-box;
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.loginBtn {
	cursor: pointer;
	background-color: #282828;
	color:#FECC43;
	margin-bottom: 10px;
	height:30px;
	font-size: 13px;
	font-family: 'Comfortaa';
	border:none;
	margin-top: 10px;
	width:90%;
	border-radius:3px;
}
.loginBtn:hover{
	background-color: #FECC43;
	color:#282828;
}
.signInInput {
	height:25px;
	font-size: 13px;
	font-family: 'Comfortaa';
	border:none;
	border-radius:3px;
	padding:10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	width:90%;
}

/*sign in menu */
///////////////////////////////////////////////////////////////////////////////
/*three dot menu */
.threeDotMenuIcon {
	width: 25px;
	height: 25px;
	background-position: center;
	background-size: 21px;
	background-repeat: no-repeat;
	margin-right: 21px;
}


/*three dot menu */
/////////////////////////////////////////////////////////////////////////////////
/*msgs menu*/

.dmMsgsFeed {
	max-height:287px;
	width:100%;
	min-height: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url('/assets/msgs_bg.png');
	background-position: center;
	background-size: 120px;
	background-repeat: no-repeat;
}
.dmMsgsFeed > div:last-child {
	border-bottom: 2px solid #CBD2D2;
}
.msngr:hover {
	background: #CBD2D2 !important;

}
.msngr {
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	width:100%;
	border-top:2px solid #CBD2D2;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	.msngr-avatar {
		width:30px;
		height:30px;
		border-radius: 30px;
	}
	.msngr-name-n-msg {
		width:calc(100% - 55px);
		font-family: 'Quicksand';
		font-weight: 700px;
		padding-left:10px;
		.msngr-name {
			font-weight: 700;
			font-family: SourceSansLocal,source-sans-pro,Source Sans Pro,-apple-system,Roboto,pt sans,calibri,sans-serif;
		}
		.msngr-latest-msg {
			font-size: 12px;
		}
	}
	.msngr-notif-dot {
		height:4px;
		width:4px;
		border-radius: 4px;
	}
}

/*msgs menu*/
/////////////////////////////////////////////////////////////////////////////////
/*dm-messanger*/
#dm-msngr {
	position: fixed;
	z-index: 110;
	bottom:0px;
	height: 300px;
	width:260px;
	right:100px;
	background: #F4FBFB;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px ;
	overflow:hidden;
	font-family: 'Quicksand';
}
.dm-msngr-header {
	width:100%;
	display: flex;
	padding:7px;
	box-sizing: border-box;
	background: #DDE4E4;

	.dm-msngr-header-avatar {
		width:25px;
		height:25px;
		border-radius: 25px;

	}
	.dm-msngr-header-username {
		width: calc(100% - 60px);
		
		font-size: 14px;
		display: flex;
		align-items: center;
		padding-left: 10px;
	}
	.dm-msngr-header-close {
		background-image: url('/assets/UI-icons/times-solid.svg');
		background-position: center;
		background-size: 12px;
		background-repeat: no-repeat; 
		width:25px;
		height:25px;
		cursor: pointer;
	}
}
.dm-msngr-feed {
	width:100%;
	height: calc(100% - 85px);
	display:flex;
	flex-direction: column;
	overflow-y: scroll;
	padding:7px;
	box-sizing: border-box;
	font-size: 14px;
	align-content: flex-start;
}
.dm-msngr-feed::-webkit-scrollbar {
	width:7px;
}
.dm-msngr-feed::-webkit-scrollbar-thumb {
	background: #D2D5D5; 
	border-radius: 10px;
}
.dm-msngr-feed::-webkit-scrollbar-corner {
	background: transparent;
}
.dm-msngr-input-wrap {
	display:flex;
	width:100%;
	justify-content: center;
	.dm-msngr-input {
		min-height:25px;
		font-family: 'Quicksand';
		border-radius: 5px;
		resize: none;
		width:95%;
		outline:none;
		border:1px solid rgba(0,0,0,.2);
		font-size: 13px;
		padding-left: 10px;
		box-sizing: border-box;
	}
}

/*dm-messanger*/
/*pull-out menu*/

.pulloutMenuIcon {
	width: 25px;
	height: 25px;
	background-position: center;
	background-size: 21px;
	background-repeat: no-repeat;
	margin-right: 21px;
}



/*pull-out menu*/
/*notification menu*/
.notif-feed {
	max-height:287px;
	width:100%;
	max-width: 320px;
	min-height: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url('/assets/notif_bg.png');
	background-position: center;
	background-size: 120px;
	background-repeat: no-repeat;
	.notif {
		padding:5px;
		box-sizing: border-box;
		border-bottom: 1px solid #CBD2D2;
		.notif-top-part{
			display:flex;
			justify-content: space-around;
			.notif-banner-avatar {
				width:30px;
				height: 30px;
				margin-top:5px;
				border-radius: 30px;
				border: 1px solid white;
			}	
			.notif-text{
				width: calc(100% - 45px);
				font-family: 'Comfortaa' !important;
				font-weight: 700;
				margin-top:5px;
				margin-left:5px;
				margin-bottom: 5px; 
			}
		}
		
		.notif-options {
			display: flex;
			justify-content: space-between;
			
			.notif-option {
				margin-top: 5px;
				border-radius: 3px;
				width:45%;
				padding: 5px;
				display: flex;
				justify-content: center;
				background: #282828;
				color:white;
			}
			.notif-option:hover {
				background: #EFC141;
				color:black;
			}
		}
	}
}
/*notification menu*/

/*icons*/ 
.signInMenuIcon {
	width: 25px;
	height: 25px;
	background-position: center;
	background-size: 21px;
	background-repeat: no-repeat;
	margin-right: 21px;
}
.signInGoogleWrap {
	background-color: rgba(234,67,53,.9) !important;
}
.signInTwitterWrap {
	background-color: rgba(29,161,242,.9) !important; 
}
.signInTwitchWrap {
	background-color: rgba(100,65,164,.9) !important; 
}
.signInGoogleWrap:hover {
	background-color: rgba(234,67,53,1) !important;
}
.signInTwitterWrap:hover {
	background-color: rgba(29,161,242,1) !important; 
}
.signInTwitchWrap:hover {
	background-color: rgba(100,65,164,1) !important; 
}
#signInGoogleIcon {
	background-image: url('/assets/google_btn.png');
}
#signInTwitchIcon {
	background-size: 28px !important; 
	background-image: url('/assets/twitch_btn.png');	
}
#signInTwitterIcon {
	background-image: url('/assets/twitter_btn.png');
}
#createSurklIcon {
	background-image: url('/assets/UI-icons/add-surkl.svg');
	background-size: 20px;
}
#roomsIcon {
	background-image: url('/assets/UI-icons/th-solid.svg');	
}
#aboutIcon {
	background-image: url('/assets/UI-icons/book-open-solid.svg');	
}
#eventsIcon {
	background-image: url('/assets/UI-icons/calendar-alt-regular.svg');	
}
#peopleIcon {
	background-image: url('/assets/UI-icons/users-solid.svg');	
}
#signUpIcon {
	background-image: url('/assets/UI-icons/user-plus-solid.svg');	
}
#surferIcon {
	background-image: url('/assets/UI-icons/8ball.svg');
	background-size: 22px;
	
}
/*icons*/
.moveOver {
	animation: roll 1.5s cubic-bezier(.04,.08,0,.87) forwards, spin 1.5s cubic-bezier(.04,.08,0,.87) forwards; 

}
@keyframes spin {
	from { transform: rotate(0deg); }
  to { transform: rotate(-750deg); }
}
@keyframes roll {
	from {
		left: -50px;
	}
	to {
		left: -270px;
	}
}
.moveOverBack {
	animation: rollBack 1.5s cubic-bezier(.37,.05,.29,.82) forwards, spinBack 1.5s cubic-bezier(.37,.05,.29,.82) forwards; 
}
@keyframes spinBack {
	from { transform: rotate(-750deg); }
  to { transform: rotate(0deg); }
}
@keyframes rollBack {
	from {
		left: -270px;
	}
	to {
		left: -50px;
	}
}
.moveOverBackForSessions {
	animation: rollBackForSessions .8s cubic-bezier(.37,.05,.29,.82) forwards, spinBackForSessions .8s cubic-bezier(.37,.05,.29,.82) forwards; 
}
@keyframes spinBackForSessions {
	from { transform: rotate(-750deg); }
  to { transform: rotate(-400deg); }
}
@keyframes rollBackForSessions {
	from {
		left: -270px;
	}
	to {
		left: -130px;
	}
}
.moveOverBackNoSessions {
	animation: rollBackNoSessions .8s cubic-bezier(.37,.05,.29,.82) forwards, spinBackNoSessions .8s cubic-bezier(.37,.05,.29,.82) forwards; 
}
@keyframes spinBackNoSessions {
	from { transform: rotate(-400deg); }
  to { transform: rotate(-0deg); }
}
@keyframes rollBackNoSessions {
	from {
		left: -130px;
	}
	to {
		left: -50px;
	}
}
.pullDownOptionsNoSessions {
	animation: pullDownOptionsNoSessions .7s ease-out forwards;
	position: absolute;
	right: 200px;
}
@keyframes pullDownOptionsNoSessions {
	from {
		opacity: 1;
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		transform: translateY(-30px);
	}
}
.pullUpOptionsForSessions {
	animation: pullUpOptionsForSessions .7s ease-out forwards;
	position: absolute;
	right: 200px;
}
@keyframes pullUpOptionsForSessions {
	from {
		opacity: 0;
		transform: translateY(-30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
.pullUpOptions {
	animation: pullUpOptions .7s ease-out forwards;
	position: absolute;
	right: 200px;
}
@keyframes pullUpOptions {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
.pullDownOptions {
	animation: pullDownOptions .7s ease-out forwards;
	position: absolute;
	right: 200px;
}
@keyframes pullDownOptions {
	from {
		opacity: 1;
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		transform: translateY(30px);
	}
}