.dropMenu {
  position: absolute;
  top:42px;
  right:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  z-index: 130;
  #notifArrow {
    margin-right:77px !important;
  }
  #accountArrow {
    margin-right: 20px !important;
  }
  #sessionArrow {
    margin-right: 176px !important;
  }
  #signInArrow {
    margin-right: 85px !important;
  }
  #threeDotArrow {
    margin-right: 20px !important;
  }
  #messagesArrow {
    margin-right: 126px !important;
  }
  .lilArrow {
    -webkit-clip-path: polygon(50% 45%, 0 100%, 100% 100%);
    clip-path: polygon(50% 45%, 0 100%, 100% 100%);
    background-color:   #CBD2D2; 
    width:20px;
    height:20px;
    align-self: flex-end;
    margin-bottom: -2px;
    border-radius: 2px;
  }
  .menuItems {
    box-shadow: -3px 3px 3px 0px rgba(0,0,0,.3);
    border-radius:3px;  
    min-width:270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #dde4e4; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    font-family: 'Quicksand';
    .menuHeader {
      display:flex;
      justify-content: center;
      background-color: #cbd2d2;
      color: black;
      font-size: 17px;
      border-radius: 3px;
      padding:10px;
      width:100%;
      box-sizing: border-box;
    }
  
    .menuInput {
      padding: 10px;
      font-size: 17px;
      display: flex;
      outline:none;
      border:none;
      width:86%;
      border-radius:5px;
      margin-top: 10px;
      resize: none;
    }
    .menuTextInput {
      padding: 10px;
      height:50px;
      font-size: 17px;
      display: flex;
      outline:none;
      border:none;
      width:86%;
      border-radius:5px;
      margin-top: 10px;
      resize: none;
    }
    .menuItem:hover {
      background-color: #cbd2d2;
    }
    .menuSelect {
      font-size: 17px;
      display: flex;
      height: 35px;
      width:92%;
      box-sizing: border-box;
      justify-content: space-between;
      outline:none;
      cursor: pointer;
    }
    .menuConfig {
      cursor: default;
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 17px;
      display: flex;
      width:96%;
      box-sizing: border-box;
      justify-content: space-between;
      input[type=number]::-webkit-inner-spin-button {
        appearance: none;
      }
      
      .sessionConfig {
        width:40px;
        height: 20px;
        border-radius: 3px;
        border:none;
        padding-left:10px;
        font-family: "Comfortaa";
        box-sizing: border-box;
        outline:none;
      }
    }
   
    .menuItem {
      padding: 7px;
      font-size: 17px;
      display: flex;
      width:100%;
      box-sizing: border-box;
    }
    .menuItemSplit {
      display:flex;
      height:30px;
      justify-content: center;
      margin-top: 10px;
      width:100%;
      .or {
        margin-top: 5px;
      }
      .splitLine1{
        height:50%;
        width:30%;
        margin-right:10px;
        border-bottom: 2px solid rgba(0,0,0,.3);
      }
      .splitLine2 {
        height:50%;
        width:30%;
        margin-left: 10px;
        border-bottom: 2px solid rgba(0,0,0,.3);
      }
    }
  }
}