@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Didact+Gothic|Josefin+Sans:700');
$mainColor: #242323;
//#DEB23B
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
body {
  background-color: $mainColor;
  margin:0px;
  padding:0px;
}

