.dropMenu_toright {
  position: absolute;
  top:30px;
  left:-15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  z-index: 30;

  #platformsArrow {
    margin-right:112px !important;
  }
  .lilArrow_toright {
    -webkit-clip-path: polygon(50% 45%, 0 100%, 100% 100%);
    clip-path: polygon(50% 45%, 0 100%, 100% 100%);
    background-color:   #CBD2D2; 
    width:20px;
    height:20px;
    align-self: flex-end;
    margin-bottom: -2px;
    border-radius: 2px;
  }
  .menuItems_toright {
    border-radius:3px;    
    min-width:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #dde4e4; 
    display: flex;
    flex-direction: column;
    font-family: 'Didact Gothic';
    .menuHeader_toright {
      display:flex;
      justify-content: center;
      background-color: #cbd2d2;
      color: black;
      font-size: 17px;
      border-radius: 3px;
      padding:10px;
      width:100%;
      box-sizing: border-box;
    }
    .menuInput_toright {
      padding: 10px;
      font-size: 17px;
      display: flex;
      outline:none;
      border:none;
      width:86%;
      border-radius:5px;
      margin-top: 10px;
      resize: none;
    }
    .menuTextInput_toright {
      padding: 10px;
      height:50px;
      font-size: 17px;
      display: flex;
      outline:none;
      border:none;
      width:86%;
      border-radius:5px;
      margin-top: 10px;
      resize: none;
    }
    .menuItem_toright:hover {
      background-color: #cbd2d2;
    }
    .menuSelect_toright {
      font-size: 17px;
      display: flex;
      width:94%;
      box-sizing: border-box;
      justify-content: space-between;
      outline:none;
      cursor: pointer;
    }
    .menuConfig_toright {
      cursor: default;
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 17px;
      display: flex;
      width:96%;
      box-sizing: border-box;
      justify-content: space-between;
      input[type=number]::-webkit-inner-spin-button {
        appearance: none;
      }
      
      .sessionConfig_toright {
        width:40px;
        height: 20px;
        border-radius: 3px;
        border:none;
        padding-left:10px;
        font-family: "Comfortaa";
        box-sizing: border-box;
        outline:none;
      }
    }
   
    .menuItem_toright {
      padding: 7px;
      font-size: 17px;
      display: flex;
      width:100%;
      box-sizing: border-box;
    }
    .menuItemSplit_toright {
      display:flex;
      height:30px;
      justify-content: center;
      margin-top: 10px;
      width:100%;
      .or {
        margin-top: 5px;
      }
      .splitLine1_toright{
        height:50%;
        width:30%;
        margin-right:10px;
        border-bottom: 2px solid rgba(0,0,0,.3);
      }
      .splitLine2_toright {
        height:50%;
        width:30%;
        margin-left: 10px;
        border-bottom: 2px solid rgba(0,0,0,.3);
      }
    }
  }
}